<<div class='container'>
  <div class="text-page">
    <h1>Bem vindo ao Analista Automático de texto</h1>
    <p> Digite ou cole o seu texto no campo abaixo e, ao terminar, clique em enviar.</p>
    <form id="txtform" action='/analysis'>
      <textarea id="texto" name="txt" rows='15' cols='100'></textarea>
      <br>
      <input type="submit" id="btn-send" name="btn-send" value="Enviar">
    </form>
  </div>
</div>
